.item {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
}
.status {
  border-radius: 50%;
  height: 20px;
  margin-right: 20px;
  width: 20px;
  background-color: green;
}

.offLineStatus {
  composes: status;
  background-color: red;
}

.avatar {
  width: 45px;
}

.name {
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
}
